# This buildout is used for development of xlutils.
# It gets the necessary eggs and creates a test runner and a python
# interpreter.

# To set up an environment suitable for doing development work on
# xlutils, do the following:
# 
# python bootstrap.py 
# bin/buildout

# Tests can be run with:
#
# bin/test -m xlutils

# A python environment with xlutils available can be started using:
#
# bin/py

[buildout]
develop = .
parts = test py
 
[py]
recipe = zc.recipe.egg
eggs = xlutils [test]
interpreter = py 

[test]
recipe = zc.recipe.testrunner
eggs = 
  xlutils [test]
